@media (max-width: 420px) {
    .home {
        min-height: 400px;
        margin-bottom: 20px;
    }
    .home .home-content {
        /*position: relative;
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;*/
    }
    .home .home-content h1 {
        font-size: 30px;
    }
    .home .home-content span.home-subtitle {
        font-size: 18px;
    }
    .home .home-content form.home-search input {
        padding: 0 75px 0 15px;
        font-size: 18px;
    }
    .home .home-content form.home-search button {
        padding: 0 20px;
        margin-right: 0;
    }
    .home .form-group div {
        padding-left: 0;
        padding-right: 0;
    }
    .page-header h1 {
        font-size: 34px;
    }	
    .page-header {
        padding-top: 160px;
    }	
}

@media (min-width: 421px) and (max-width: 767px) {
    .home {
        min-height: 360px;		
    }
}

@media (min-width: 420px){
    .single-course-wrapper {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    .site-footer-top div[class^="col-"] h4 {
        border-top: solid 1px rgba(255,255,255,0.1);
        padding-top: 15px;
    }
    .site-footer-top div[class^="col-"] {
        margin-bottom: 15px;
    }
    .site-footer-top div:nth-child(1) {
        border-top: none;
    }
    .course-enquire-label {
        text-align: left;
    }
    .course-enquire .btn {
        width: 100%;
    }
    .course-feature-info {
        text-align: left!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home {
        min-height: 500px;
    }
    .home .home-content {
        top: 70%;
    }
    .site-footer-top div[class^="col-"] h4 {
        border-top: solid 1px rgba(255,255,255,0.1);
        padding-top: 15px;
    }
    .site-footer-top div:nth-child(1),
    .site-footer-top div:nth-child(2) {
        min-height: 170px;
        border-top: none;
    }
}

@media (max-width: 991px) {
    .learning-nav .navbar {
        min-height: 72px;
    }
    .learning-nav .container {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .learning-nav .container > .navbar-header {
        margin-left: 0;
        margin-right: 0;
        border-bottom: solid 1px #CCCCCC;
        min-height: 80px;
    }	
    .learning-nav .navbar-toggle {
        display: block!important;
    }	
    .learning-nav .navbar-toggle .fa{
        margin-right: 10px;
    }	
    .learning-nav .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }	
    .learning-nav .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-collapse {
        padding-left:  30px!important;
    }
    .learning-nav .navbar-brand {		
        margin: 14px auto 0 auto!important;
        float: none;		
    }
    .navbar-toggle {
        float: left;
        margin: 18px 0 0 4px;
    }
    /* Footer */
    .site-footer-branding-inner {
        border-top: solid 1px rgba(255,255,255,0.1);
        padding-top: 30px;
        border-bottom: solid 1px rgba(255,255,255,0.1);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

}

@media (min-width: 992px) {
    /* footer */
    .site-footer-bottom {
        border-top: solid 1px rgba(255,255,255,0.1);
        padding-top: 30px;
    }
    .site-footer-terms {
        text-align: right;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .home {
        min-height: 560px;
    }
}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {


}

/***************************************/
/* HOVER EFFECTS from 1100px and above */
/***************************************/
@media (min-width: 1100px) {
    /* Enable hover sub-menus on desktop */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }	
    /* Site nav level one items border-bottom animation on hover */
    .learning-nav .navbar-nav > li > a {
        position: relative;
    }
    .learning-nav .navbar-nav > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        background: transparent;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .learning-nav .navbar-nav > li:hover > a:after {
        width: 100%;
        background: #ff0032;
    }
}