.learning-nav .navbar {
    background: #FFFFFF;
    border-top: solid 1px #FFFFFF;
    box-shadow: 0 1px 20px rgba(0,0,0,0.2);
}
.navbar-fixed-top {
    border: none;
}
.learning-nav,
.learning-nav .dropdown-menu > li > a {
    font-weight: 500!important;
    font-size: 14px;
}
.learning-nav .nav .open > a,
.learning-nav .nav .open > a:focus,
.learning-nav .nav > li > a:focus,
.learning-nav .nav > li > a:hover {
    background: none;
}
.learning-nav ul > li {
    text-transform: uppercase;
}
.learning-nav img {
    display: block;
    max-width: 180px;
    margin-left: 10px;
    background-repeat: no-repeat;
    padding: 0;
}
.navbar-toggle span {
    background: #0c2b57;
}
.navbar-toggle.navbar-menu {
    margin-top: 24px;
}
.navbar-toggle.navbar-search {
    font-size: 20px;
    margin-top: 16px;
}
#navbar-search .site-search-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
#navbar-search .site-search-wrapper .form-control,
#navbar-search .site-search-wrapper .select2-container {
    margin-bottom: 10px;
}
/* 1st level menu items */
.learning-nav .navbar-nav > li {
    margin-right: 30px;
}
.learning-nav .navbar-nav li:last-child {
    margin-right: 0;
}
.learning-nav .navbar-nav > li > a {
    padding: 30px 0;
}
/* 2nd level menu items */
.learning-nav .navbar-collapse.collapse .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.13);
}
.learning-nav .dropdown-menu li a {
    padding: 10px 20px;
}

/* Page Header */
.page-header h1 {
    margin-bottom: 0;
    text-align: center;
}

/* Section Headers */
.section-header h2 {
    position: relative;
    text-align: center;
}
.section-header h2 span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    border-left: solid 4px #ff0032;
    border-right: solid 4px #ff0032;
}
.section-header h2:before {
    background: #ccc;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.section-header h2:before {
    left: 0;
}

/* Course listings */
.course-photo {
    overflow: hidden;
}
.course-photo img {
    width: 100%;
    height: auto;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.course-single:hover .course-photo img {	
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);   
}
.course-photo-hilite {
    content: ' ';
    width: 0;
    height: 4px;
    background: #ff0032;
    display: block;
    -webkit-transition:  width 0.25s ease;
    -moz-transition:  width 0.25s ease;
    -o-transition:  width 0.25s ease;
    transition: width 0.25s ease;
}
.course-single:hover .course-photo-hilite {
    width: 100%;
}
.course-single ul {
    margin-bottom: 0;
}
.course .course-portrait {
    margin-left: 20px;
    width: 80px;
    height: 60px;
    background: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.course .course-block .course-single .course-content .course-portrait img {
    border: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 60px;
}
/* Course enquiry */
.course-enquire-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 1px #CCCCCC;
    text-align: center;
}
.course-enquire-wrapper .btn {
    border-radius: 0;
    /*background: #337ab7;*/
    background: #FFFFFF;
    border: solid 1px #CCCCCC;
    color: #000000;
}
.course-enquire .modal-content,
.course-enquire input,
.course-enquire textarea,
.course-enquire .btn {
    border-radius: 0;
}
.course-enquire .btn,
.course-enquire .btn:focus {
    background: #ff0032;
    color: #FFFFFF;
    border: 0;
}
.course-enquire-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.course-enquire-info {
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.course-enquire-label {
    text-align: right;
    font-weight: bold;
}
/* Course Photos */
.course-photos.owl-theme .owl-controls .owl-buttons .owl-prev {	
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    z-index: 3;
    top: 42%;
    left: 0;
    font-size: 20px;
    margin: 0;
    background: #193d7e;
}
.course-photos.owl-theme .owl-controls .owl-buttons .owl-next {	
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    z-index: 3;
    top: 42%;
    right: 0;
    font-size: 20px;
    margin: 0;
    background: #193d7e;
}
/* Course Features */
.course-features .row,
.course-feature-label,
.course-feature-info {
    margin-top: 0!important;
}
.course-features .row {
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.course-feature-label {
    text-transform: uppercase;
    text-align: left!important;
}
.course-feature-info {
    text-align: left!important;
}
.course-fee {
    text-align: center;
    margin-top: 30px;
}
.course-fee h4 {
    margin-bottom: 10px!important;
}
.course-fee-after-gst {
    color: #193d7e;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;	
}
.course-fee-before-gst {
    margin-bottom: 0;
}
.course-btn,
.course-contact {
    min-width: 200px;
}
.course-contact,
.course-contact:hover {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 45px;
    background: #193d7e;
    color: #fff;
    border: 0;
    margin: 30px;
    /*border-radius: 3px;*/
}
.course-trainer-info {
    margin-top: 30px;
}
.course-trainer h2 {
    font-size: 24px;
}
.course-trainer-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px auto;
}
.course-trainer-name {
    text-align: center;
}
/*.course-trainer {
        display: table;
}
.course-trainer-photo,
.course-trainer-name {
        display: table-cell;
        vertical-align: middle;
}
.course-trainer-name {
        padding-left: 30px;
}*/


/* Course Share */
.single-course-sidebar .course-share {
    margin-bottom: 30px;
}
.single-course-sidebar .course-share h4 {
    margin-right: 15px;
}
.single-course-sidebar .course-share h4,
.single-course-sidebar .course-share ul {
    display: inline-block;
}
.single-course-sidebar .course-share ul li {
    display: inline-block;
    margin-right: 10px;
}
.single-course-sidebar .course-share ul li a {
    padding: 4px 0 0 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 1px #f1f1f1;
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 130%;
    color: #193d7e; 
}
.single-course-sidebar .course-share ul li a:hover {
    background: #193d7e;
    color: #FFFFFF;
}

/* Featured Course Providers - Owl Carousel */
.logo-slider {
    background: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
    padding: 15px 50px;
    border-radius: 0;
    border: solid 1px #dddddd;
}
.logo-slider img {
    height: 60px;
    margin: 0 auto;
    width: auto!important;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
.owl-carousel.logo-slider .owl-controls {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.owl-carousel.logo-slider .owl-buttons div {
    margin: 0;
    height: 80px;
    font-size: 20px;
    width: 50px;
    padding-top: 27px;
    color: #193d7e;
    background: none;
}
.owl-carousel.logo-slider .owl-prev {
    position: absolute;
    top: 35px;
    font-size: 18px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.owl-carousel.logo-slider .owl-next {
    position: absolute;
    top: 35px;
    font-size: 18px;
    right:20px;
    margin: 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* SEARCH (DESKTOP) */
.site-search-wrapper {
    background: #0c2b57;
    padding-top: 25px;
    padding-bottom: 15px;
}
.site-search-input {
    height: 40px;
}
.site-search-input,
.site-search-wrapper .select2-selection--single,
.site-search-wrapper .btn {
    border-radius: 0;
    border: 0;
}
.site-search-wrapper .select2-container,
.site-search-wrapper .select2-selection--single,
.site-search-wrapper .btn {
    height: 40px;
    width: 100%!important;
}
.site-search-wrapper .btn,
.site-search-wrapper .btn:focus {
    background: #ff0032;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
}
.site-search-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}
/* .site-search-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 6px;
    padding-left: 12px;
} */

/* Footer */
.site-footer {
    padding: 60px 0 80px 0;
}
.site-footer h4 {
    text-transform: uppercase;
    color: #FFFFFF;
}
.site-footer-top {
    margin-bottom: 30px;
}
.site-footer-top li {
    margin-bottom: 5px;
}
.site-footer-top ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.site-footer-top a,
.site-footer-contact a {
    color: #FFFFFF;
}
.site-footer-top a:hover,
.site-footer-contact a:hover {
    text-decoration: underline;
}
.site-footer-contact i {
    padding-right: 10px;
}
.site-footer-social a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background: #FFFFFF;
    font-size: 20px;
    line-height: 170%;
    color: #333333;
    margin: 0 4px;
    padding-top: 5px;
}
.site-footer-bottom {	
}
.site-footer-bottom,
.site-footer-bottom p {
    font-size: 12px;
    color: #FFFFFF;
}
.site-footer-terms {
    padding-top: 8px;
}
.site-footer-terms span {
    margin: 0 10px;
    color: #666666;
}
.site-footer-terms a {
    color: #FFFFFF;
}
.site-footer-terms a:hover {
    text-decoration: underline;
}

.site-footer-branding-inner:after {
    clear: both;
    display: table;
    content: " ";
}
.site-footer-branding-logo {
    float: left;
    margin-bottom: 10px;
}
.site-footer-branding-logo img {
    float: left;
    max-width: 90px;
    margin-right: 15px;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
.site-footer-branding-info {
    float: left;
    padding-top: 0px;
}
/* Back-to-top*/
.site-footer-bottom p#back-top {
    text-align: right;
    margin-bottom: 0;
    position: fixed;
    display: none;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}
.site-footer-bottom p#back-top a:hover {
    background: #ff0032;
    border-color: #ff0032;
    color: #fff;
}
.site-footer-bottom p#back-top a {
    background: #323232;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    height: 35px;
    text-align: center;
    width: 35px;
    /* padding-top: 3px; */
}

/* Buttons */
.btn:focus.btn-more,
.btn-more,
.btn-more:hover {
    background: #ff0032;
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 0;
}

/* Spacers */
.mt-30 { margin-top:30px; }
.mt-60 { margin-top:60px; }
.mt-90 { margin-top:90px; }

.mb-30 { margin-bottom:30px; }
.mb-60 { margin-bottom:60px; }
.mb-90 { margin-bottom:90px; }

/* Ads */
.ad-leaderboard {
    overflow: hidden;
}
.ad-IMU {
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto 60px auto;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}