html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
img {
    vertical-align: middle;
}
a:focus {
    outline: 0;
}
*:focus {
    outline: none;
}
input {
    box-shadow: none;
}
h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
body {
    font-family: "Roboto", sans-serif;
}
a {
    transition: 0.3s ease;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.section-header {
    text-align: center;
    margin-bottom: 30px;
}
.section-header h2 {
    font-weight: 600;
    margin: 0 0 20px 0;
    line-height: 1;
}
.section-header h2 span:before, .section-header h2 span:after {
    content: none;
}
.section-header span {
    display: inline-block;
    position: relative;
}
.section-header span:before {
    content: "";
    position: absolute;
    border-top: 1px dashed #80cd36;
    height: 2px;
    right: 30px;
    top: 13px;
    width: 200px;
}
.section-header span:after {
    content: "";
    position: absolute;
    border-top: 1px dashed #80cd36;
    height: 2px;
    left: 30px;
    top: 13px;
    width: 200px;
}
footer {
    padding: 80px 0 0 0;
    background: #232323;
    color: #fff;
    position: relative;
}



.page-header {
    padding-top: 240px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    position: relative;
    margin: 0;
    border-bottom: 0;
}
.page-header:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.page-header h1 {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
html, body {
    height: 100%;
    margin: 0;
}
h1, h2, h3, h4 {
    color: #333;
    font-family: "Roboto Slab", serif;
}
.all-course-wrapper {
    padding-top: 40px;
}
.section-header {
    text-align: center;
    margin-bottom: 30px;
}
.section-header h2 {
    font-weight: 600;
    margin: 0 0 20px 0;
    line-height: 1;
}
.section-header h2 span:before, .section-header h2 span:after {
    content: none;
}
.home {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 660px;
    margin-bottom: 30px;
}
.home:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.home .home-content {
    position: absolute;
    top: 60%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.home .home-content h1 {
    font-size: 52px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 25px 0;
}
.home .home-content span.home-subtitle {
    font-size: 25px;
    color: #fff;
}
.home .home-content form.home-search {
    margin: 50px 0 50px 0;
    position: relative;
}
.home .home-content form.home-search input {
    width: 80%;
    height: 60px;
    background: #fff;
    border: 0 none;
    padding: 0 90px 0 20px;
    font-size: 20px;
    border-radius: 0;
}
.home .home-content form.home-search button {
    position: absolute;
    font-size: 20px;
    color: #fff;
    background: #ff0032;
    border: 0 none;
    height: 60px;
    padding: 0 25px;
    margin-right: 15px;
}
.course .course-block {
    position: relative;
}
.course .course-block .course-single {
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    transition: 0.3s ease;
    margin-bottom: 40px;
}
.course .course-block .course-single:hover {
    box-shadow: 0 1px 30px rgba(0,0,0,0.25);
}
.course .course-block .course-single .course-content {
    padding: 20px 15px;
    background: #fff;
}
.course .course-block .course-single .course-content h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 20px 0;
    color: #0c2b57;
}
.course .course-block .course-single .course-content ul li {
    display: table-cell;
    vertical-align: middle;
}
.course .course-block .course-single .course-content .course-portrait img {
    display: inline;
    transition: 0.3s ease;
    border: 2px solid transparent;
}
.course .course-block .course-single .course-content ul li:last-child {
    padding-left: 15px;
    ;
}
.course .course-block .course-single .course-content ul li:last-child span {
    font-size: 12px;
    color: #acacac;
    display: block;
}
.course .course-block .course-single .course-content ul li:last-child span:last-child {
    font-size: 15px;
    color: #727272;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    ;
}
.clearfix:after {
    clear: both;
}
textarea {
    resize: vertical;
}
.section-header {
    text-align: center;
    margin-bottom: 30px;
}
.section-header h2 {
    font-weight: 600;
    margin: 0 0 20px 0;
    line-height: 1;
}
.section-header h2 span:before, .section-header h2 span:after {
    content: none;
}
.single-course-wrapper .single-course-content h3.course-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.single-course-wrapper .single-course-content .course-meta {
    margin-top: 35px;
    margin-bottom: 45px;
}
.single-course-wrapper .single-course-content .course-meta .course-duration .course-icon, .single-course-wrapper .single-course-content .course-meta .course-duration .duration-details {
    display: table-cell;
    vertical-align: top;
}
.single-course-wrapper .single-course-content .course-meta .course-duration .duration-details {
    padding-left: 15px;
}
.single-course-wrapper .single-course-content .course-meta .course-duration .duration-details span {
    display: block;
    font-size: 15px;
}
.single-course-wrapper .single-course-content .course-meta .course-duration .duration-details span:last-child {
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
    margin-top: 5px;
}
.single-course-wrapper .single-course-content .course-gallery {
    margin-bottom: 60px;
}
.single-course-wrapper .single-course-content .course-info-tabs ul.nav-tabs {
    border-bottom: 1px solid #ccc;
}
.single-course-wrapper .single-course-content .course-info-tabs ul.nav-tabs li a {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    color: inherit;
    border-radius: 0;
    padding: 15px 15px;
}
.single-course-wrapper .single-course-content .course-info-tabs ul.nav-tabs li.active a {
    background: #fff;
    color: #000;
    border: solid 1px #ccc;
    border-bottom: 0;
}
.single-course-wrapper .single-course-content .course-info-tabs .tab-content .tab-pane h4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}
.single-course-wrapper .single-course-content .course-info-tabs  tr{
    vertical-align:top;
}

.single-course-wrapper .single-course-content .course-bottom-content .course-tags {
    margin: 30px 0;
}
.single-course-wrapper .single-course-content .course-bottom-content .course-tags h4, .single-course-wrapper .single-course-content .course-bottom-content .course-tags ul {
    display: inline-block;
}
.single-course-wrapper .single-course-content .course-bottom-content .course-tags h4 {
    margin-right: 15px;
}
.single-course-wrapper .single-course-content .course-bottom-content .course-tags ul li {
    display: inline-block;
    margin-right: 10px;
}
.single-course-wrapper .single-course-content .course-bottom-content .course-tags ul li:last-child {
    margin-right: 0;
}
.single-course-wrapper .single-course-content .course-bottom-content .course-tags ul li a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #aeaeae;
    color: #727272;
}
.single-course-wrapper .single-course-sidebar .sidebar-widget {
    margin-bottom: 60px;
}
.single-course-wrapper .single-course-sidebar .sidebar-widget:last-child {
    margin-bottom: 0;
}
.single-course-wrapper .single-course-sidebar .sidebar-widget h3.widget-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: #193d7e;
    color: #fff;
    padding: 30px 0;
    margin: 0;
}
.single-course-wrapper .single-course-sidebar .sidebar-widget .widget-content.course-features, .single-course-wrapper .single-course-sidebar .sidebar-widget .widget-content.course-category-widget {
    background: #fafafa;
    padding: 25px 25px 45px 25px;
}
.single-course-wrapper .single-course-sidebar .sidebar-widget .widget-content.course-features h4 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
}
.single-course-wrapper .single-course-sidebar .sidebar-widget .widget-content.course-features div a.course-btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 45px;
    background: #ff0032;
    color: #fff;
}

.banner-box img{
    height: 90px;
    max-width: 720px;
}

.banner-box .owl-stage-outer{
    max-width: 720px;
    margin: auto;
}

.banner-box{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.home-content .select2-container{
    margin-right: 40px;
}

/* .home-content .select2-container--default .select2-selection--single{
    height: 40px;
} */

.home-content .select2-container--default .select2-selection--single .select2-selection__placeholder{
    font-size: 18px;
}

.view-course-top {
    margin-top: 60px;	
}

/* Increase Select2 Dropdown Height */
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 44px;
    user-select: none;
    -webkit-user-select: none; 
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 42px; 
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; 
}
/* Increase Select2 Dropdown Height END */