/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
	font-family: 'Conv_tabitha';
	src: url(assets/fonts/tabitha.eot);
	src: local('☺'), url(assets/fonts/tabitha.woff) format('woff'), url(assets/fonts/tabitha.ttf) format('truetype'), url(assets/fonts/tabitha.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  color: #5a5a5a;
  font-family: 'Open Sans',sans-serif;
}

.jobs-search .jobsoftheday {background: #fff !important; border: 1px solid #ccc;}
.jobsoftheday {margin-bottom: 30px;}
.jobsoftheday p {font-size: 14px !important;}
.jobsoftheday-border-left {border-right: 2px solid #eee; padding-right: 5px; }
@media (max-width: 767px) {
  .jobsoftheday-border-left {border: none; }
}
.jotd-text-highlight {font-size: 1.2em !important;
    color: #333;
    font-weight: bold;
}
.jotd-text-highlight i {padding-top:3px;}
.jobsoftheday-text a.company-link {color:#777 !important;}
.jobsoftheday-text a.company-link:hover {text-decoration: underline !important;}
	
/* Test Jobs of The Day */
.coupon {
    border: 3px dashed #bcbcbc;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.coupon #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
}

.coupon #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title .visible-xs {
    font-size: 12px;
}

.coupon #title img {
    font-size: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.items {
    margin: 15px 0;
}

.usd, .cents {
    font-size: 20px;
}

.number {
    font-size: 20px;
    font-weight: 700;
}

sup {
    top: -3px;
}

#business-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#business-info ul li { 
    display: inline;
    text-align: center;
}

#business-info ul li span {
    text-decoration: none;
    padding: .2em 1em;
}

#business-info ul li span i {
    padding-right: 5px;
}

.disclosure {
    padding-top: 15px;
    font-size: 11px;
    color: #bcbcbc;
    text-align: center;
}

.coupon-code {
    color: #333333;
    font-size: 11px;
}

.exp {
    color: #f34235;
}

.print {
    font-size: 14px;
    float: right;
}

/*-- End Test Jobs Of The Day --*/


.bg-account { background: #009edb; padding: 6px 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.bg-account:hover { background:#007DAB;}
.bg-account a {color: #ffffff !important; font-weight: bold; font-size: 14px;}
.bg-account a:focus, .bg-account a:active {text-decoration: none;}

a.adv-search, a.adv-search:hover, a.adv-search:focus, a.adv-search:active {color: #47A447; font-weight: bold; text-decoration: underline !important; cursor: pointer;}

.gray_color {
    color: #999999 !important;
}

.rds-info {
    margin: 0 5px;
}
.rds-info [class*="rt-data"] {
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
}

/* carousel */

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.owl-theme .owl-controls .owl-page {
    display: block !important;
}
	
/* all */
::-webkit-input-placeholder { color:#333333 !important; }
::-moz-placeholder { color:#333333; } /* firefox 19+ */
:-ms-input-placeholder { color:#333333; } /* ie */
input:-moz-placeholder { color:#333333; }

.carousel-inner > .item { }
.carousel-inner > .item-info {background: #D9EDF7; padding:20px 30px;}
.carousel-arrow a.left {left: -5px; position: absolute;}
.carousel-arrow a.right {right: -5px; position: absolute;}
.carousel-control.right, .carousel-control.left {background: none !important;}

.stjobs-registration-stepbystep .form-group {margin: 15px auto;}

.page-404 {
	/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #D9EDF7 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #D9EDF7 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #D9EDF7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #D9EDF7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #D9EDF7 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #D9EDF7 100%);
}

.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2); padding-right:14px;}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}

.registration-form {-moz-box-shadow: 0 0 5px 5px #e5e5e5;
-webkit-box-shadow: 0 0 5px 5px #e5e5e5;
box-shadow: 0 0 5px 5px #e5e5e5; padding: 20px; background: #fff;}
.registration-form2 { padding: 10px 20px 20px 20px;}
.rt-data-1 {
    background: none repeat scroll 0 0 #C1080D;
}
.rt-data-2 {
    background: none repeat scroll 0 0 #46BFBD;
}
.rt-data-3 {
    background: none repeat scroll 0 0 #FDB45C;
}
.rt-data-4 {
    background: none repeat scroll 0 0 #2badcd;
}
.rt-data-5 {
    background: none repeat scroll 0 0 #4D5360;
}

.rt-data-1a { background: none repeat scroll 0 0 #F00065; }
.rt-data-1b { background: none repeat scroll 0 0 #F83E8C; }
.rt-data-1c { background: none repeat scroll 0 0 #F86FA9; }

.rt-data-2a { background: none repeat scroll 0 0 #E9B200; }
.rt-data-2b { background: none repeat scroll 0 0 #FDD023; }
.rt-data-2c { background: none repeat scroll 0 0 #FCECAE; }

.rt-data-3a { background: none repeat scroll 0 0 #13A1CB; }
.rt-data-3b { background: none repeat scroll 0 0 #4DC5D6; }
.rt-data-3c { background: none repeat scroll 0 0 #A5F2F3; }

.modal-body {padding-bottom:0 !important;}
.modal-footer {margin-top:0 !important;}

.tooltippage p {margin-bottom: 0 !important;}
.tooltippage p a {cursor: pointer;}

.panel-accordion {
    border: none;
    border-radius: 0;
    border-bottom: 5px solid #6D6D6D;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.panel-accordion-blue {
    border-bottom: 5px solid #009edb;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.panel-accordion .panel-heading {background: #4b4b4b; border-radius:0;}
.panel-accordion .panel-title a {font-weight: bold; text-transform: bold; font-size:14px; color: #f5f5f5;}
.bg-black {background: #000000;}
.latest-career-resources  { z-index: 999;}
.latest-career-resources h4 {padding: 5px 10px;color:#F3E400;}
.latest-career-resources h4 a {color: #ffffff;}

.latest-career-resources h5 {padding: 5px 10px;color:#009edb; font-weight: bold;}
.latest-career-resources h5 a {color: #ffffff;}

.career-resources-scroll h4 {font-size: 14px !important;}
.career-resources-scroll .post {height: 185px;}
.career-resources-scroll .text-ellipsis-2-lines {height: 2.4em;}

.border-info {border: 5px solid #009EDB;}
.career-resources-scroll { width: 280px;}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	position: absolute;
	left: 5px;
	top: 10px;
	border-right:10px solid #009EDB; 
}
 
.background-slider {position:absolute; z-index: -999;}

.carousel-header-text {position: absolute; bottom: 20px;  left: 40px; right: 40px;  background-color: rgba(0, 0, 0, 0.6);}
.carousel-header-text h2 {color: #ffffff;font-weight: bold; padding: 10px; border: 3px solid #ffffff; margin: 0; border-top: 3px solid #009edb;}
.home-slider-title {padding: 5px; margin:0;font-size: 20px; font-weight:bold;}

.carousel-indicators {bottom: 10px !important;}
.my-catagories-list li {border-bottom: 1px solid #ccc; margin-bottom: 5px !important; padding-bottom: 5px !important;}
.my-catagories-list li p {margin-bottom:0 !important; padding-bottom: 0 !important;}

.visible {display:none;}

.dropdown-article_categories  {min-width: 240px !important; padding: 20px;}

.employer-view-yourprofile {padding: 20px; margin: 20px 0 20px 20px; -moz-box-shadow:    inset 0 0 20px #ccc;
   -webkit-box-shadow: inset 0 0 20px #ccc;
   box-shadow:         inset 0 0 20px #ccc;}
.employer-requested-yourresume {padding: 20px; margin: 20px 40px 20px 0;  -moz-box-shadow:    inset 0 0 20px #ccc;
   -webkit-box-shadow: inset 0 0 20px #ccc;
   box-shadow:         inset 0 0 20px #ccc;}

.employers-view-resume small a, .employers-request-resume small a {text-decoration: underline; color: #6d6d6d;}

.employers-request-resume dt { margin-bottom: 0;}
.employers-view-resume dd, .employers-request-resume dd { margin-bottom: 0; font-size: 12px;}
.employers-view-resume p, .employers-request-resume p {margin-bottom:-1px}

.full-features-registration li a h4{transition: all 0.3s ease-in-out 0s;}
.full-features-registration li a h4:hover {font-size: 24px !important;}
.full-features-registration li a h4:active {text-decoration:none;}

.myactivity-coverletter p {}
.padding-left-14 {padding-left: 14px;}
.padding-left-18 {padding-left: 18px;}
.padding-left-20 {padding-left: 20px;}
.padding-left-34 {padding-left: 34px;}

.img-eighty {width: 80%; padding: 20px;}

a:hover {text-decoration:none !important}
.text-white {color: #4b4b4b;}
.text-black {color: #000000;}
.text-darkgray {color: #666666 !important;}
.text-panel {font-size: 14px; font-weight: bold;}
.company-profile-img {position:relative; height:100%; background:#fff; }

.company-profile-img .img-background {position: relative; z-index: 100; max-height: 400px !important;}
.company-profile-img .img-logo {position: absolute; top:5px; z-index: 200; background: #f5f5f5; margin:20px 20px;max-height: 120px; max-width: 130px; !important;}
.company-profile-img .logo-mobile {max-width: 100px; max-height: 100px; margin-top:-25px; text-align:center;}

.company-profile-quote {border: 10px solid #009edb;}
.company-profile-quote h1 {text-transform: capitalize;}
.company-profile-quote img { max-width:100px; max-height:100px;}
.company-profile-quote h4 {padding: 0 10px;}
.company-profile-quote .img-quoter {position:absolute; bottom: 10px; left: 120px;}
.company-profile-quote-mobile {border: 3px solid #009edb;}

.company-profile-listings {background: none repeat scroll 0 0 #F5F5F5; padding: 5px 20px; border:10px solid #fff;}
.company-profile-job-listings {margin:0; padding:0; }
.company-profile-job-listings .booking-img-description a{margin:10px 0;}

.company-profile-description {background: none repeat scroll 0 0 #F5F5F5; }
.company-profile-description h2, .company-profile-description h4 { padding: 0 10px; margin:10px;}
.company-profile-description p { padding: 0 20px 14px; line-height: 1.6em;}

.company-profile-map{padding-top:10px;}

.company-profile-address {background: #009EDB; color:#fff; padding: 10px;}
.company-profile-wrapper-map {padding-left: 14px}

.navbar-stjobs {background: #009EDB; color:#fff; margin-bottom:0;}
.navbar-stjobs li {}
.navbar-stjobs li a {color: #FFF !important; text-transform:capitalize; font-size: 14px; cursor: pointer;}
.navbar-stjobs ul.dropdown-menu li a{color: #009EDB !important; text-transform:capitalize; background: none;}
.navbar-stjobs ul.dropdown-menu li a:hover{color: #007DAB !important; text-decoration:underline;}
.navbar-stjobs li.active a, .navbar-stjobs li a:hover, .navbar-stjobs li a:focus,
.navbar-stjobs .navbar-nav > li > a:focus { background:#007dab; color: #fff !important;}
.navbar-stjobs .new-tools i {color:#6d6d6d;}
.navbar-right li a:hover {background: none !important;}

.job-industry-homepage dt {line-height: 1.2em }

.featured-employer a img {margin: 5px; border: 1px solid #ccc; padding: 10px;}

.careerresources-detail h2 {margin:0; padding: 0 0 5px 0; }
.article-info {font-size: 14px; color: #666666; margin: 0; padding: 0;}
.article-header { text-transform: capitalize;}
.entry-comments {
    display: block;
    padding: 15px 20px; font-weight: bold;}

.advertisement {padding :20px}

.text-white {color: #ffffff;}

.panel-homepage-dropdown {background:#F5F5F5; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background:#007dab; color: #fff !important;}

.your-searches .list-group-item:hover {background: #f5f5f5;}
.your-searches li small {color:#6d6d6d;}

.navbar-stjobs .dropdown-menu{background: #009EDB; border:none;}

.nav .open > a:hover {background: #666666 !important;}

.navbar-stjobs .navbar-toggle {
  border-color:  #f8f8f8;
}
.navbar-stjobs .navbar-toggle:hover,
.navbar-stjobs .navbar-toggle:focus {
  background-color: #f8f8f8;
}
.navbar-stjobs .navbar-toggle .icon-bar {
  background-color: #ccc;
}
.navbar-stjobs .navbar-collapse,
.navbar-stjobs .navbar-form {
  border-color: #e7e7e7;
}

.menu-career-resources-masking {width:150px; height: 150px; background: #ccc;}
.menu-career-resources-masking img { max-height: 150px;}

.menu-profile li a { font-size: 14px;}

#logo {
	padding: 0 10px;
}

.breadcrumbs {border-bottom:3px solid #f5f5f5;}

/*
.breadcrumb {background: url("../../img/breadcrumbs.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 4px #EEEEEE inset;
    padding: 10px;}
*/

.revolution-slider {list-style:none; padding:0; margin:0;}
	
.content-main {}
.content-secondary {-webkit-box-shadow: -10px 0px 10px 1px #e5e5e5; -moz-box-shadow: -10px 0px 10px 1px #e5e5e5; box-shadow: -10px 0px 10px 1px #e5e5e5;}
.content-secondary-right {-webkit-box-shadow: -10px 0px 10px 1px #a3e0f7; -moz-box-shadow: -10px 0px 10px 1px #a3e0f7; box-shadow: -10px 0px 10px 1px #a3e0f7;}
.content-secondary-left {-webkit-box-shadow: 10px 0px 10px 1px #a3e0f7; -moz-box-shadow: 10px 0px 10px 1px #a3e0f7; box-shadow: 10px 0px 10px 1px #a3e0f7;}
/*.content-secondary-right {-webkit-box-shadow: 10px 0px 10px 1px #a3e0f7; -moz-box-shadow: 10px 0px 10px 1px #a3e0f7; box-shadow: 10px 0px 10px 1px #a3e0f7;} */
.content-secondary-two { border: 1px solid #ccc}

.half-bg-info {
   background: #D9EDF7;
   height: 605px;
}

.background-registration {
	background-image: -moz-linear-gradient(right, #FFFFFF 20%,#D9EDF7 30%);
	background-image: -ms-linear-gradient(right, #FFFFFF 20%,#D9EDF7 30%);
	background-image: -o-linear-gradient(right, #FFFFFF 20%,#D9EDF7 30%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #D9EDF7));
	background-image: -webkit-linear-gradient(right, #FFFFFF 20%, #D9EDF7 30%);
	background-image: linear-gradient(to left, #FFFFFF 20%, #D9EDF7 30%);
}

.img-joblistings {max-width: 100px; max-height: 100px;}

.shadow-bottom {-webkit-box-shadow: 0 10px 5px -5px #E5E5E5; -moz-box-shadow: 0 10px 5px -5px #E5E5E5; box-shadow: 0 14px 6px -6px #E5E5E5;}

.divider-bottom { border-bottom: 2px solid #e5e5e5;}

.border-blue-top {border-top: 10px solid #009edb;}
.homepage-stjobs h2 {margin: 15px 0 5px;}
.lattestjobs-stjobs li h4 {padding: 0 20px; line-height: 1.2em;}
.lattestjobs-stjobs li i {margin-top: 5px;}

.stjobs-header {border-bottom: 1px solid #ccc; padding: 2px 0;}
.stjobs-header .stjobs-header-insight {border-bottom: 3px solid #009edb; line-height:1.4em;}

.profile-cover {position:absolute; background:#000; width:100%; top:0; opacity:0.85; z-index:999; background:url(assets/img/index.jpg) repeat;}
.cover-blurred {position:absolute; background:#000; width:100%; top:0; opacity:0.85; background:url(assets/img/index.jpg) repeat;}

.menu-social-media p {padding: 10px 10px 0 10px;}
.menu-social-media p a {color:#007DAB !important; font-size: 22px!important; background: none;}
.menu-social-media p a:hover { color: #fff !important; background: none !important;}

.social-media-footer a {color:#6d6d6d;}
.social-media-footer a:hover {color:#009edb;}

.stjobs-header-footer {border-bottom: 1px solid #6d6d6d; padding: 4px 0;}
.stjobs-header-footer .stjobs-header-insight-footer{border-bottom: 3px solid #009edb;}

.your-searches li h4 {color: #000; font-weight: bold; }
.your-searches .row {margin:0; }

.lattest-jobs-list dd{ padding-left: 20px;}
.lattest-jobs-list dd{ padding-left: 20px; font-size:12px;}
.lattest-jobs-list li {font-weight: bold;}
.lattest-jobs-list p { margin-bottom: -1px;}

.latest-jobs-employer-list li, .archieves-list li { font-weight: bold; margin:-1px auto;}
.width-eighty {width:80%}
.width-ninety {width:90%}
.text-ellipsis {white-space:nowrap;  width:90%;  overflow:hidden; text-overflow:ellipsis; content: "...";}
.text-ellipsis-1-lines {content: "..."; height: 1.3em; line-height: 1.3em; overflow: hidden; text-overflow: ellipsis;}
.text-ellipsis-2-lines {content: "..."; height: 3.6em; line-height: 1.2em; overflow: hidden; text-overflow: ellipsis;}
.text-ellipsis-career-resources {content: "..."; height: 3.1em; line-height: 1.2em; overflow: hidden; text-overflow: ellipsis;}
.text-ellipsis-homepage-banner {content: "..."; height: 4.8em; line-height: 1.2em; overflow: hidden; text-overflow: ellipsis; font-size: 14px;}

.homepage-banner p{background: rgba(255,255,255,0.8); padding:15px; }

.three-selling-point img {border: 10px solid #fff;}

.footer-logo p {color: #ccc;}
.footer-menu h4 {color: #fff;}
.footer-menu ul li {margin:0; padding: 0;}
.footer-menu ul li a {color:#d5d4dd; font-size:12px;}
.footer-menu ul li a:hover {color:#ddd; font-size:12px;}

.flexslider-footer {
	margin: 0px 0px 0px !important;
	background: none repeat scroll 0% 0% #333 !important;
	border: 4px solid #333 !important;
	position: relative;
	border-radius: 4px;
	box-shadow: none !important;
}

.flexslider-footer .slides img {width: auto !important;}
.flexslider-footer .flex-control-paging {visibility:hidden !important;}
.flexslider-footer .flex-direction-nav {visibility:hidden !important;}

.well {background: #FFF !important; }

.title-page h3{color: #333; margin-top: 0px; font-weight: 600; line-height: 1.2em; margin-bottom: 5px;}
.title-page h4{color: #6d6d6d; margin-top:0px;}
.title-page a{color: #009edb; font-weight: 600;}

.job-details {padding: 20px; border: 1px solid #ccc;}
.job-description {line-height: 1.6em; font-size: 14px; font-weight: 400;}
.job-description hr {border: 1px solid #eee}
hr.divider {margin: 5px; }
.text-primary {color: #009edb;}

.jobtitle-fixed {
	position: fixed;
	top: 0px;
	background: #fff;
	z-index: 999 !important;
    min-width: 100%;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 0px 0px rgba(0, 0, 0, 0.02), 0px 3px 0px 0px rgba(0, 0, 0, 0.04), 0px 2px 0px 0px rgba(0, 0, 0, 0.06), 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset, 1px 0px 0px 0px rgba(255, 255, 255, 0.1) inset, -1px 0px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.navbar-jobtitle {background: none; border-bottom: none; border-radius: 0; box-shadow: none; margin-bottom: 0;}

.jobtitle-company-logo { text-align: center; vertical-align: middle;}
.jobtitle-company-logo img {max-height: 100px !important; width: auto;}

.bar-design {background-color: #D9EDF7;
  border-top: 5px solid #009edb; padding: 10px;
font-weight: bold; position: fixed; bottom:0; z-index:1000; width:100%}

.jobtitle-navbar-lessspace {margin:-10px 0 -5px}

@media (max-width: 480px) {
	.title-page h3 {font-size: 18px; }
	.job-description h3 {font-size: 18px;}
	.title-page h4 {font-size: 14px;}
	.jobtitle-company-logo img {max-height: 80px !important; width: auto; margin-bottom: 10px; max-width:80px}
	.btn-applynow-xs {margin-top: 0px !important;}
	.jobtitle-text-ellipsis-2-lines {
		text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden
	}
	}
	
@media (min-width: 481px) and (max-width: 768px) {
	.title-page h3 {font-size: 18px;}
	.job-description h3 {font-size: 18px;}
	.title-page h4 {font-size: 14px;}
	.jobtitle-company-logo img {max-height: 100px !important; width: auto; margin-bottom: 10px; max-width: 100px !important;}
	.btn-applynow-xs {margin-top: 0px !important;}
	.jobtitle-text-ellipsis-2-lines {
		text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden
	}
	}
	
@media (min-width: 769px) {
	.title-page h3 {font-size: 24px;}
	.title-page h4 {font-size: 18px;}
	.jobtitle-company-logo img {max-height: 100px !important; width: auto; margin-bottom: 10px; max-width: 100px !important; }
	.btn-applynow-xs {margin-top: 0px !important;}
	.jobtitle-text-ellipsis-2-lines {
		text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden
	}
	}

.fin {
    position: fixed;
	bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0px -25px 30px -25px rgba(0, 0, 0, 0.3);
	width: 100%;
	margin: 0px auto;
    text-align: center;
}

.latest-jobs-employer-list li a{line-height: 1.4em; color: #009edb; font-weight: 400;}

.filter-icon-heading {background: #ddd; padding-left:15px; margin:0-15px; font-weight: bold; }
.filter-icon {background: #d9edf7; border-top: 4px solid #009edb;}
/* .filter-icon li {border-right: 1px solid #018BBE; border-left: 1px solid #018BBE;} */
.filter-icon li:hover {background:#007DAB}
.filter-icon .filter-select li {border:none; padding-left:5px; padding-right:5px; text-align:left;}
.filter-icon .filter-select li:hover {background:none;}
.filter-icon .dropdown li {border:none; padding-left:5px; padding-right:5px; text-align:left;}
.filter-icon .dropdown li:hover {background:none;}
.filter-icon .dropdown ul {width: 100%;}
.filter-icon .dropdown-date {width:200px !important; background: #fff;}
.filter-icon .dropdown-salary {width:200px !important; background: #fff;}
.filter-icon .dropdown-job-level {width:200px !important; background: #fff;}
.filter-icon .dropdown-job-industry {width:200px !important; background: #fff;}
.filter-icon .dropdown-job-function {width:200px !important; background: #fff;}
.filter-icon li {font-weight:bold;}
.filter-icon .dropdown-job-function .group-option {font-weight:normal;}
.filter-icon li a:hover {text-decoration: none;}
.filter-icon h4 {color: #fff;}
.filter-icon p {font-size:14px; margin:0;}

.filter-icon-search-result {background: #009edb;}
.filter-icon-search-result li {border-right: 1px solid #018BBE; border-left: 1px solid #018BBE; padding-bottom:5px}
.filter-icon-search-result li:hover {background:#007DAB}
.filter-icon-search-result .filter-select li {border:none; padding-left:5px; padding-right:5px; text-align:left;}
.filter-icon-search-result .filter-select li:hover {background:none;}
.filter-icon-search-result .dropdown2 li {border:none; padding-left:5px; padding-right:5px; text-align:left; padding-bottom:0}
.filter-icon-search-result .dropdown2 li:hover {background:none;}
.filter-icon-search-result .dropdown2 ul {width: 100%;}
.filter-icon-search-result .dropdown-date {width:180px !important; background: #fff;}
.filter-icon-search-result .dropdown-salary {width:180px !important; background: #fff;}
.filter-icon-search-result .dropdown-job-level {width:180px !important; background: #fff;}
.filter-icon-search-result .dropdown-job-industry {width:180px !important; background: #fff;}
.filter-icon-search-result .dropdown-job-function {width:180px !important; background: #fff; }
.filter-icon-search-result .dropdown-job-type {width:180px !important; background: #fff; }
.filter-icon-search-result li {font-weight:bold;}
.filter-icon-search-result .dropdown-job-function .group-option {font-weight:normal;}
.filter-icon-search-result li a:hover {text-decoration: none;}
.filter-icon-search-result h4 {color: #fff;}
.filter-icon-search-result p {font-size:14px; margin:0;}


input[type=checkbox].css-checkbox {
							position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
							text-align:left;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:20px;
							height:15px; 
							display:inline-block;
							line-height:15px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:13px;
							vertical-align:middle;
							cursor:pointer;
							text-align:left;
						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -15px;
						}
.css-label{ background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png); }

.label-tags h4{display:inline-block;}
.label-tags .label {font-weight: normal; margin-right:5px;}

.jobs-search .row { background:#f5f5f5;}
.jobs-search p {font-size:12px;}
.jobs-search .border-right {border-right: 2px solid #eee; }
.jobs-search .booking-img-description {padding: 10px 10px;}
.jobs-search .inline li{display:inline;}

.sidebar-top-hirer {padding:10px;}
.top-hirer-background {}
.top-hirer-background img {border: 1px solid #ccc; }
.latest-courses-list dt a{ font-size: 14px; color: #009edb; font-weight: 400;}
.latest-courses-list dd { padding-left: 20px; margin-bottom: 5px; font-size: 12px;}
.latest-courses-list p { padding-left: 20px; margin-bottom: -1px;}

.sidebar-career-resources .media-body {font-size: 12px;}

.sidebar-poll .radio label {font-weight: normal; font-size:12px;}

.latest-jobs-list li {line-height: 1.2em;}
.sidebar-more-from-employer p, .sidebar-archieves p {padding-left: 20px; line-height: 1.2em; }

.job-page-images img {border: 1px solid #ddd;}
.job-page-data {padding: 10px 10px 5px 10px;}
.job-page-description p {font-size: 14px; line-height: 1.4em;}

.company-profile-listings p {font-size: 12px;}
.my-connection-list {font-weight:bold;}

.before-login {background:url(assets/img/before-log_in.jpg); height:300px; border-radius:10px;}
.before-login h1 {color:#666;}
.before-login p {color: #333;}

.emphasis h2 {padding: 0px; margin:  10px 0px 0px; font-size:24px;}
.emphasis {border: 1px solid #ccc; padding: 0px; }
.shape{    
    border-style: solid; border-width: 0 40px 40px 0; float:right; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);  
    -moz-transform: rotate(360deg);  
    -o-transform: rotate(360deg);  
    transform: rotate(360deg);
	position: absolute;
	right: 0; top: 0; 
}
.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-22px; top:-3px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(46deg); /* Safari and Chrome */
	transform:rotate(46deg);
}
.offer-success {	border-color: #5cb85c; position: relative;}
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.job-page-company-profile {background: #F5F5F5; padding: 20px;}

.headline h2, .headline h3, .headline h4 {    margin: 0px 0px -2px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #72C02C;
}
.who li {
    margin-bottom: 3px;
}

.line-gray {border: 3px solid #F5F5F5;}

. 

@media (max-width: 768px) {
	.sidebar-companyprofile-wrapper-map {margin: 0 15px !important;}
	.company-profile-address {padding: 20px 35px;}
	
	.company-information .company-name {width:100%;}
	.company-information-with-logo .company-name { }
	.logo-visible-mobile {float: right; text-align: left; margin-top:0px; padding:10px; background: #fff; margin: 0 10px; }
	.company-image {position: relative; height:100%; width:auto;}
}

.survey-relevancy {
    display: none;
	padding: 20px 20px;
    border: 2px solid #f5f5f5;
    background: #fff none repeat scroll 0% 0%;
}

.margin-right-20 {margin-right: 20px;}

/* Margin- Alignment*/

.margin-bottom-5, .margin-bottom-10, .margin-bottom-20, .margin-bottom-20, .margin-bottom-25, .margin-bottom-40, .margin-bottom-50, .margin-bottom-100{
    clear: both;
}
.margin-bottom-0 { margin-bottom: 0;}
.margin-bottom-5 { margin-bottom: 5px;}
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 {  margin-bottom: 20px;}
.margin-bottom-25 { margin-bottom: 25px;}
.margin-bottom-30 { margin-bottom: 30px;}
.margin-bottom-40 { margin-bottom: 40px;}
.margin-bottom-50 {  margin-bottom: 50px;}
.margin-bottom-100 {  margin-bottom: 100px;}

.margin-top-0 { margin-top: 0px;}
.margin-top-5 { margin-top: 5px;}
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 {  margin-top: 20px;}
.margin-top-25 { margin-top: 25px;}
.margin-top-30 { margin-top: 30px;}
.margin-top-40 { margin-top: 40px;}
.margin-top-50 {  margin-top: 50px;}
.margin-top-100 {  margin-top: 100px;}
.margin-top-200 {  margin-top: 200px;}
.margin-top-330 {  margin-top: 325px;}
.margin-top-350 {  margin-top: 350px;}
.margin-top-400 {  margin-top: 400px;}

.padding-bottom-0 { padding-bottom: 0;}
.padding-bottom-5 { padding-bottom: 5px;}
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 {  padding-bottom: 20px;}
.padding-bottom-25 { padding-bottom: 25px;}
.padding-bottom-30 { padding-bottom: 30px;}
.padding-bottom-40 { padding-bottom: 40px;}
.padding-bottom-50 {  padding-bottom: 50px;}

.padding-top-5 { padding-top: 5px;}
.padding-top-10 { padding-top: 10px; }
.padding-top-20 {  padding-top: 20px;}
.padding-top-25 { padding-top: 25px;}
.padding-top-30 { padding-top: 30px;}
.padding-top-40 { padding-top: 40px;}
.padding-top-50 {  padding-top: 50px;}
.padding-top-220 {  padding-top: 220px;}

.margin-left-5 {margin-left:5px;}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/*sign-up bar */
.sign-up-bar {
    background-color: #00C2F5;
background: #009edb; /* Old browsers */
background: -moz-linear-gradient(top, #009edb 0%, #009edb 0%, #2baad8 50%, #007dab 51%, #009edb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009edb), color-stop(0%,#009edb), color-stop(50%,#2baad8), color-stop(51%,#007dab), color-stop(100%,#009edb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #009edb 0%,#009edb 0%,#2baad8 50%,#007dab 51%,#009edb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #009edb 0%,#009edb 0%,#2baad8 50%,#007dab 51%,#009edb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #009edb 0%,#009edb 0%,#2baad8 50%,#007dab 51%,#009edb 100%); /* IE10+ */
background: linear-gradient(to bottom, #009edb 0%,#009edb 0%,#2baad8 50%,#007dab 51%,#009edb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009edb', endColorstr='#009edb',GradientType=0 ); /* IE6-9 */
}

.sign-up-bar2 {
	padding-top: 18px;
	background: #333;
}

background { linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #C49CDE 75%, #669AE1 87.5%, rgb(98, 194, 228) 87.5%, rgb(98, 194, 228)) repeat scroll 0% 0% rgb(196, 225, 127);}



.sign-up-bar h3 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}
.sign-up-bar h4 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}
.sign-up-bar.light {
    background-color: #D6D6D6;
    background-image: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) inset;
    padding: 54px 0 46px;
}
.sign-up-bar.light h3 {
    color: #262626;
    font-size: 36px;
    font-weight: 400;
}
.sign-up-bar.light h4 {
    color: #727272;
}
.sign-up-bar.light .sign-up-form input.text {
    background-color: #EDEDED;
    border: 0 none;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.04) inset, 0 0 0 1px rgba(0, 0, 0, 0.16) inset, 0 1px 0 0 rgba(255, 255, 255, 0.2);
    color: #262626;
}
.sign-up-bar.light .sign-up-form input.text:-moz-placeholder {
    color: #A5A5A5;
}
.sign-up-bar.light .sign-up-form input.text::-moz-placeholder {
    color: #A5A5A5;
    opacity: 1;
}
.sign-up-bar.light .sign-up-form input.text:-moz-placeholder {
    color: #A5A5A5;
}
.sign-up-bar.light .sign-up-form input.text::-moz-placeholder {
    color: #A5A5A5;
    opacity: 1;
}
.sign-up-bar.light .sign-up-form input.text:focus {
    background-color: #F5F5F5;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.04) inset, 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
}
.sign-up-bar.light .sign-up-form input.text.invalid {
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.04) inset, 0 0 0 1px #DA1D5E inset;
}
.sign-up-bar.light .sign-up-form input.text.invalid:-moz-placeholder {
    color: #A5A5A5;
}
.sign-up-bar.light .sign-up-form input.text.invalid::-moz-placeholder {
    color: #A5A5A5;
    opacity: 1;
}
.sign-up-bar.light .sign-up-form input.text.invalid:-moz-placeholder {
    color: #A5A5A5;
}
.sign-up-bar.light .sign-up-form input.text.invalid::-moz-placeholder {
    color: #A5A5A5;
    opacity: 1;
}
.sign-up-bar.light .sign-up-form input.button {
    background-clip: padding-box;
    background-color: #33A7E1;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #104D6B;
    text-shadow: none;
    transition: background-color 0.25s ease 0s, box-shadow 0.25s ease 0s;
}
.sign-up-bar.light .sign-up-form input.button:focus {
    background-color: #49B1E4;
}
.sign-up-bar.light .sign-up-form input.button:hover {
    background-color: #49B1E4;
}
.sign-up-bar.light .sign-up-form input.button:active {
    background-color: #33A7E1;
}
.sign-up-bar.light .sign-up-form .sign-up-terms {
    color: #727272;
}
.sign-up-bar.light .sign-up-form .sign-up-terms a {
    border-color: #727272;
    color: #727272;
}
.sign-up-bar.light .sign-up-form .sign-up-terms a:hover {
    border-color: #000000;
    color: #000000;
}
.sign-up-bar.light .sign-up-form .float-label {
    color: #383838;
}
.sign-up-bar.light .sign-up-form .email-suggestion {
    color: #383838;
}
.sign-up-bar.light .sign-up-form .email-suggestion a.suggestion {
    color: #383838;
}
.sign-up-bar.light .sign-up-form .email-suggestion a.suggestion .correct {
    color: #383838;
}
.sign-up-bar.light .sign-up-form .email-suggestion a.suggestion:hover {
    color: #000000;
}
.sign-up-bar.light .sign-up-form .weak-password {
    color: #DA1D5E;
}
.sign-up-bar.bottom h3 {
    margin-bottom: 7px;
}
.main-view {
    min-height: 700px;
}
/*.sign-up-form {
    padding-top: 28px;
}*/
.sign-up-form input {
    background-clip: padding-box;
    border-radius: 0;
    display: inline-block;
    margin: 5px 0;
    outline: 0 none;
    position: relative;
    transition: border-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s, top 150ms ease-in-out 0s;
    width: 100%;
    z-index: 2;
}

.sign-up-form2 input {
    background-clip: padding-box;
    border-radius: 0;
    display: inline-block;
    margin: 5px 0;
    outline: 0 none;
    position: relative;
    transition: border-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s, top 150ms ease-in-out 0s;
    width: 100%;
    z-index: 2;
}

.sign-up-form input.text {
    background-color: #FFF;
    border: 3px solid #009EDB;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(255, 255, 255, 0.12), 0 0 3px 0 rgba(255, 255, 255, 0);
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 12px;
    position: relative;
}

.sign-up-form2 input.text {
    background-color: #FFF;
	border: 3px solid #FFF;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 12px;
    position: relative;
}

.sign-up-form input.text:-moz-placeholder {
    color: #6d6d6d;
}
.sign-up-form input.text::-moz-placeholder {
    color: #6d6d6d;
    opacity: 1;
}
.sign-up-form input.text:focus {
    background-color: #fcfcfc;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 10px 0 rgba(255, 255, 255, 0.3);
}
.sign-up-form input.text.invalid {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 10px 2px rgba(218, 29, 94, 0.8);
}
.sign-up-form input.text.invalid:-moz-placeholder {
    color: #E6447C;
}
.sign-up-form input.text.invalid::-moz-placeholder {
    color: #E6447C;
    opacity: 1;
}
.sign-up-form input.text.invalid:-moz-placeholder {
    color: #E6447C;
}
.sign-up-form input.text.invalid::-moz-placeholder {
    color: #E6447C;
    opacity: 1;
}
.sign-up-form input.button {
    background-clip: padding-box;
    background: #52b152; /* Old browsers */
background: -moz-linear-gradient(top, #52b152 1%, #008a00 59%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#52b152), color-stop(59%,#008a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #52b152 1%,#008a00 59%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #52b152 1%,#008a00 59%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #52b152 1%,#008a00 59%); /* IE10+ */
background: linear-gradient(to bottom, #52b152 1%,#008a00 59%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b152', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.07) inset, 0 1px 0 0 rgba(255, 255, 255, 0.14) inset, 0 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    font-size: 16px;
	letter-spacing: 0.2px;
    padding: 10px 10px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
	height: 45px;
}

.sign-up-form input.button:focus {
    background: #008a00; /* Old browsers */
background: -moz-linear-gradient(top, #008a00 48%, #52b152 84%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#008a00), color-stop(84%,#52b152)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008a00 48%,#52b152 84%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008a00 48%,#52b152 84%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #008a00 48%,#52b152 84%); /* IE10+ */
background: linear-gradient(to bottom, #008a00 48%,#52b152 84%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#52b152',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px 0 rgba(51, 156, 225, 0.5);
}
.sign-up-form input.button:hover {
    background: #008a00; /* Old browsers */
background: -moz-linear-gradient(top, #008a00 48%, #52b152 84%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#008a00), color-stop(84%,#52b152)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008a00 48%,#52b152 84%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008a00 48%,#52b152 84%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #008a00 48%,#52b152 84%); /* IE10+ */
background: linear-gradient(to bottom, #008a00 48%,#52b152 84%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#52b152',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 1px 8px 1px rgba(0, 0, 0, 0.1);
}
.sign-up-form input.button:active {
    background: #008a00; /* Old browsers */
background: -moz-linear-gradient(top, #008a00 48%, #52b152 84%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#008a00), color-stop(84%,#52b152)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008a00 48%,#52b152 84%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008a00 48%,#52b152 84%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #008a00 48%,#52b152 84%); /* IE10+ */
background: linear-gradient(to bottom, #008a00 48%,#52b152 84%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#52b152',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 8px 1px rgba(0, 0, 0, 0);
    position: relative;
    top: 1px;
}

.sign-up-form2 input.button {
    background-clip: padding-box;
    background-color: #339CE1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.07) inset, 0 1px 0 0 rgba(255, 255, 255, 0.14) inset, 0 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    font-size: 16px;
	letter-spacing: 0.2px;
    padding: 10px 10px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
	height: 45px;
}

.sign-up-form2 input.button:focus {
    background-color: #49A7E4;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px 0 rgba(51, 156, 225, 0.5);
}
.sign-up-form2 input.button:hover {
    background-color: #49A7E4;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 1px 8px 1px rgba(0, 0, 0, 0.1);
}
.sign-up-form2 input.button:active {
    background-color: #339CE1;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 8px 1px rgba(0, 0, 0, 0);
    position: relative;
    top: 1px;
}

.sign-up-form .float-label {
    display: none;
    font-family: Arial,sans-serif;
    font-size: 11px;
    left: 14px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: 7px;
    z-index: 1;
}
.sign-up-form .validator {
    font-family: Arial,sans-serif;
    font-size: 12px;
    height: 0;
    margin-left: 10px;
    opacity: 0;
    position: relative;
    transform: translateY(-25px);
    z-index: 1;
}
.sign-up-form .validator.active {
    height: 25px;
}
.sign-up-form .email-suggestion {
    color: rgba(255, 255, 255, 0.8);
}
.sign-up-form .email-suggestion a.suggestion {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}
.sign-up-form .email-suggestion a.suggestion .correct {
    color: #FFFFFF;
    font-style: italic;
    font-weight: bold;
}
.sign-up-form .email-suggestion a.suggestion:hover {
    color: #FFFFFF;
}
.sign-up-form .weak-password {
    color: #E95A8B;
}
.sign-up-form .weak-password .lod {
    font-weight: 700;
    line-height: 0;
    padding-left: 10px;
}

/*footer*/
#footer {
    position: relative;
    z-index: 1;
}
#footer .top {
    background: none repeat scroll 0 0 #333333;
    padding-bottom: 10px;
    padding-top: 20px;
}
#footer .top .logo {
    display: inline-block;
    margin-bottom: 20px;
}
#footer .top a img {
    max-width: 100%;
}
#footer .top .text {
    color: #FFFFFF;
    margin-right: 20px;
}
#footer .top .text p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}
#footer .top .text .header {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#footer .top .subscribe {
}
#footer .top .subscribe input[type="text"] {
    border: 0 none;
    color: #46484B;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 0 6px;
    width: 209px;
}
#footer .top .subscribe input[type="submit"] {
    background: none repeat scroll 0 0 #009EDB;
    border: 0 none;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 35px;
    text-transform: uppercase;
    width: 51px;
}
#footer .bottom {
    background: none repeat scroll 0 0 #000000;
}
#footer .bottom .copyrights {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
	padding:10px;
}

.media-footer img {max-width: 64px; max-height: 64px;}
.font-small {font-size: 12px;}

.footer-small {border-bottom: 1px solid #4b4b4b; background: #333;}

.media-body-footer {font-size: 12px !important; color: #6d6d6d !important;}
.media-footer p { color: #BBB; margin: 0px 0px 10px; line-height: 14px !important;}
.media-footer p a { color: #BBB !important; text-decoration: underline; margin: 0px 0px 10px;}

.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
	height:230px;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
	text-align: center;
	width: 80%;
}

.post .content-mobile
{
    padding: 15px;
	text-align: left;
	width: 80%;
}

.divider-gray {border-top: 1px solid #d3d3d3; height: 10px;}
.post .author
{
    font-size: 11px;
    color: #737373;
	background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: -25px auto; position: absolute; width: 80%; padding: 0 10px;
}
.post .author h4 {text-transform: uppercase;}
.post .author h4 small {color: #4b4b4b;}

.career-resources-article h4 {margin: 0; line-height: 1.2em;}
.entry-date {font-size: 11px; color: #000;}
.sidebar-careerresources-menu {
	background: #fff; height: 410px; z-index:999; min-width:250px; padding: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.menu-activity {
	z-index:999 !important; min-width:100%;
}

.menu-categories {
	z-index:999 !important; min-width:100%;
}

.nav-menu-categories li {border-right: 1px solid #4b4b4b; border-left: 1px solid #4b4b4b;}

.fixed {position:fixed; top:0;}

.fixed-sidebar {position:fixed; top:50px;}

.sidebar-careerresources-menu2 {
	padding: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.stjobs-connection {border:1px solid #ccc; border-top:3px solid #009EDB;}
.stjobs-connection-header {background: #f5f5f5; padding:5px; font-weight: bold;}

.post .post-img-content, .post-img-content
{
	max-height: 141px;
    overflow: hidden;
    max-width: 255px;      
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}
.post .post-img-content img, .post-img-content img
{
	width: 100%;
    -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: margin-top .5s ease-out;  /* FF4+ */
    -ms-transition: margin-top .5s ease-out;  /* IE10? */
    -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
    transition: margin-top .5s ease-out;
}

.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.homepage-test {position: relative;}
.homepage-test a { position: absolute; width: 100%; min-height: 880px; overflow: hidden; }
.homepage-test img {position: absolute; right: 0px;}

.homepage-background-careerfair {
	background: url(assets/img/NewSliders/careerfair.jpg) no-repeat center top #86CCEE;
}

.homepage-background-man {
	background: url(assets/img/NewSliders/man.jpg) no-repeat center top #86CCEE;
}

.homepage-background-test {
	background: url(assets/img/NewSliders/test.jpg) no-repeat right top #86CCEE;
}

.homepage-background {
	background: url(assets/img/NewSliders/homepage-background.jpg) no-repeat right top #86CCEE;
}

@media (max-width: 767px){
	.homepage-background-test {
	background: url(assets/img/NewSliders/test-mobile.jpg) no-repeat center top #86CCEE !important;
	}
	.homepage-background {
	background: url(assets/img/NewSliders/homepagebackground-mobile.jpg) no-repeat right top #86CCEE !important;
	}
}

@media (max-width: 767px){
	
  .homepage-test img {position: absolute; right: -120px;}
  .homepage-background-careerfair {background: url(assets/img/NewSliders/careerfair.jpg) no-repeat -1420px top #CBD6D8; } 
  .homepage-background-careerfair-mobile {background: url(assets/img/NewSliders/careerfair2.jpg) no-repeat -1280px top #CBD6D8;} 
  .homepage-background-man {background: url(assets/img/NewSliders/man.jpg) no-repeat -1270px top !important;}
}

@media (min-width: 768px) and (max-width: 800px) {
  .homepage-test img {position: absolute; right: -80px;}
  .homepage-background-careerfair {background: url(assets/img/NewSliders/careerfair.jpg) no-repeat -1060px top #CBD6D8;} 
  .homepage-background-man {background: url(assets/img/NewSliders/man.jpg) no-repeat -940px top #CBD6D8;}
  
}

@media (min-width: 801px) and (max-width: 992px) {
  .homepage-test img {position: absolute; right: -80px;}
  .homepage-background-careerfair {background: url(assets/img/NewSliders/careerfair.jpg) no-repeat -960px top #CBD6D8;} 
  .homepage-background-man {background: url(assets/img/NewSliders/man.jpg) no-repeat -940px top #CBD6D8;}
}

@media (min-width: 993px) and (max-width: 1024px) {
  .homepage-test img {position: absolute; right: -30px;}
  .homepage-background-careerfair {background: url(assets/img/NewSliders/careerfair.jpg) no-repeat -920px top #CBD6D8;} 
  .homepage-background-man {background: url(assets/img/NewSliders/man.jpg) no-repeat -800px top #CBD6D8;}
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .homepage-test img {position: absolute; right: -30px;}
  .homepage-background-careerfair {background: url(assets/img/NewSliders/careerfair.jpg) no-repeat -740px top #CBD6D8;} 
  .homepage-background-man {background: url(assets/img/NewSliders/man.jpg) no-repeat -740px top #CBD6D8;}
}

@media (min-width: 1201px) {
  .homepage-test img {position: absolute; right: 0px;}
  .homepage-background-careerfair {background: url(assets/img/NewSliders/careerfair.jpg) no-repeat right top #CBD6D8;}
  .homepage-background-man {background: url(assets/img/NewSliders/man.jpg) no-repeat right top #CBD6D8;}
}

.homepage-background-cny {
	background: url(assets/img/NewSliders/cny.jpg) no-repeat center top #86CCEE;
}

@media (max-width: 767px) {
  .homepage-background-cny {background: url(assets/img/NewSliders/cny2.jpg) no-repeat -1270px top !important;} 
}

@media (max-width: 992px) {
  .homepage-background-cny {background: url(assets/img/NewSliders/cny2.jpg) no-repeat -960px top;} 
}

@media (max-width: 1200px) {
  .homepage-background-cny {background: url(assets/img/NewSliders/cny2.jpg) no-repeat -800px top;} 
}

@media (min-width: 1201px) {
  .homepage-background-cny {background: url(assets/img/NewSliders/cny.jpg) no-repeat right top;}
}


h2.font-play {
font-size: 48px;
line-height: 48px;
margin-top:100px;
}

h3.font-play {
font-size: 36px;
line-height: 36px;
margin-top:100px;
}

h2.font-play, h3.font-play {font-family:'Conv_tabitha', script;}

img#imD.begin {
    animation: 0s ease 0s normal none 1 none;
}

.login-background {
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #FCFCFC 30%, #3AB5FC 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #FCFCFC 30%, #3AB5FC 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #FCFCFC 30%, #3AB5FC 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #FFFFFF), color-stop(0.3, #FCFCFC), color-stop(1, #3AB5FC));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #FCFCFC 30%, #3AB5FC 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center top, #FFFFFF 0%, #FCFCFC 30%, #3AB5FC 100%);
}

.login-background2 {
background: #D9EDF7;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(right center, ellipse farthest-corner, #FFFFFF 0%, #FFFFFF 50%, #D9EDF7 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(right center, ellipse farthest-corner, #FFFFFF 0%, #FFFFFF 50%, #D9EDF7 100%);

/* Opera */ 
background-image: -o-radial-gradient(right center, ellipse farthest-corner, #FFFFFF 0%, #FFFFFF 50%, #D9EDF7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, right center, 0, right center, 983, color-stop(0, #FFFFFF), color-stop(0.5, #FFFFFF), color-stop(1, #D9EDF7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(right center, ellipse farthest-corner, #FFFFFF 0%, #FFFFFF 50%, #D9EDF7 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at right center, #FFFFFF 0%, #FFFFFF 50%, #D9EDF7 100%);
}
.login-page {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.login-page2 {
	-webkit-box-shadow: 0 0 10px 1px #A3E0F7;
-moz-box-shadow:    0 0 10px 1px #A3E0F7;
box-shadow:         0 0 10px 1px #A3E0F7;
}

.background-page2 {
	-webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px -5px 10px 0px rgba(0, 0, 0, 1);
box-shadow:         0px -10px 10px 0px rgba(0, 0, 0, 1);
}

.bg-pink {background-color: #ff1574;}
.btn-pink {background-color: #ff1574; color: #fff;}

h2.promo-personalization small {font-size: 18px;}
.login-form { padding: 10px 20px 22px;}

.login-background-personalization-2 {
	background: url(assets/img/login-background.png) no-repeat;
	animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}

img.login-background-personalization1 {
    animation: fadein 10s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization2 {
    animation: fadein 10s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization3 {
    animation: fadein 10s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization4 {
    animation: fadein 10s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization5 {
    animation: fadein 10s;
    -moz-animation: fadein 9s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization6 {
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization7 {
    animation: fadein 10s;
    -moz-animation: fadein 11s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization8 {
    animation: fadein 10s;
    -moz-animation: fadein 12s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization9 {
    animation: fadein 10s;
    -moz-animation: fadein 13s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization10 {
    animation: fadein 10s;
    -moz-animation: fadein 14s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization11 {
    animation: fadein 10s;
    -moz-animation: fadein 15s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}
img.login-background-personalization12 {
    animation: fadein 10s;
    -moz-animation: fadein 16s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}

#fadein div {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from { opacity:0;}
    to { opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0;}
    to { opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0;}
    to { opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0;}
    to { opacity: 1;}
}

.askanita-sidebar{background: url(../../img/askanita.jpg) no-repeat; width: 250px; height: 160px;}
.askanita-sidebar p{ padding:90px 0px 0 40px; font-size: 14px;}

.glyphicon-small {font-size: 12px;}

.panel-accordion a:not(.collapsed) .glyphicon:before { content: "\2212"; }
.panel-accordion a.collapsed .glyphicon:before { content: "\2b"; }

a.text-social {color: #dddddd;}
a.text-social:hover {color: #cccccc;}
.text-bold {font-weight: bold;}
.content-secondary {
    box-shadow: -10px 0 10px 1px #E5E5E5;
    margin-bottom: 40px;
}
a.btn-normal {background:#ffffff !important;}
a.btn-normal:hover {background:#EBEBEB !important;}

@media (max-width: 767px) {
    .listing-right-info li {
        float: left; 
		margin-right: 10px;
    }
    .pagination-container ul.pagination li.label {
        padding: 9px 12px;
    }
    .pagination-container ul.pagination li a {
        padding: 6px 9px !important;
    }
}

.preview-resume figcaption.ratings { margin-top:20px;}
.preview-resume figcaption.ratings a { color:#f1c40f; font-size:11px;}
.preview-resume figcaption.ratings a:hover { color:#f39c12; text-decoration:none;}
.preview-resume-header {padding-top: 10px;}
.preview-resume .divider { border-top:1px solid rgba(0,0,0,0.1);}
.preview-resume .emphasis { border-top: 4px solid transparent;}
.preview-resume .emphasis:hover { border-top: 4px solid #1abc9c;}
.preview-resume .emphasis h2 {margin-bottom:0;}
.preview-resume span.tags { background: #1abc9c; border-radius: 2px; color: #f5f5f5; font-weight: bold; padding: 2px 4px;}

.border-thick-black {border-top: 3px solid #ccc;}

.promotion-material-mobile p, .promotion-material-mobile ol li  {font-size: 12px;}

/* Pricing Table */
.pricing-table .plan {
  margin-left:0px;
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}
 
 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}
 
 .plan {
  padding: 10px 10px 20px;
  margin-bottom: 20px;
  margin-left:0px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.plan-name-bronze {
  padding: 5px;
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }
  
.plan-name-silver {
  padding: 5px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }
  
.plan-name-gold {
  padding: 5px;
  color: #fff;
  background-color: #FFD700;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  } 
  
.pricing-table-bronze  {
  padding: 5px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.pricing-table .plan .plan-name span {
  font-size: 20px;
}
 
.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 0 10px;
}
 
.pricing-table .plan ul li.plan-feature {
  padding: 10px;
  border-bottom: 1px solid #c5c8c0;
}
 
.pricing-three-column {
  margin: 0 auto;
  width: 100%;
}
 
.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}
 
.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}
 
.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}

/* Employer-testimonials */
blockquote p {font-size: 14px !important;}