.stjCollapsibleTxt-container {
	overflow-y: hidden;
	position: relative;
}
.stjCollapsibleTxt-overlay {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(100%, #F5F5F5));
	background-image: -webkit-linear-gradient(top, rgba(245, 245, 245, 0), #F5F5F5);
	background: linear-gradient(to bottom, rgba(245, 245, 245, 0), #F5F5F5);
	bottom: 0;
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
}